* {
    margin: 0;
}

body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

header,
footer {
    padding: 20px 50px;
}

footer a {
    margin-right: 30px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

a {
    text-decoration: none;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

.menu-nav a {
    text-decoration: none;
    color: #000000;
    font-style: normal;
}

.menu-nav a:hover {
    text-decoration: underline;
}

.menu-nav h1 {
    margin-left: 30px;
}

nav a {
    margin-right: 20px;
}

section {
    margin: auto;
    padding: 40px 0;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 24px;
}

section p {
    font-size: 20px;
    width: 50%;
    margin: auto;
}

section h1,
h2 {
    margin-bottom: 30px;
    text-align: center;
}

li {
    margin: auto;
    width: 50%;
    list-style-type: none;
    margin-bottom: 15px;
}

.portfolio {
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 80px;
}

.test {
    max-width: 1000px;
    margin: auto;
}

.portfolio h1 {
    margin-bottom: 60px;
    padding: 20px 40px;
}

.portfolio a {
    color: #FFFFFF;
}

.portfolio-item {
    margin-bottom: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn-grad {
    display: block;
    background-image: linear-gradient(to right, #000000 0%, #434343 51%, #000000 100%);
    width: 150px;
    margin: 10px;
    padding: 20px 46px;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFFFFF;
    box-shadow: 0 0 5px #FFFFFF;
    border-radius: 50px;
}

.btn-grad:hover {
    background-position: right center;
    color: #FFFFFF;
    text-decoration: none;
}

.portfolio-item p {
    margin-bottom: 20px;
}

.a-propos {
    max-width: 1000px;
    margin: auto;
}

.contenu-portfolio {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

img {
    display: flex;
    margin: auto;
    width: 70%;
    border-radius: 15px;
    margin-top: 15px;
}

.github {
    border-radius: 100px;
}

.icons-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}