
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

header, footer {
    text-align: center;
    flex-wrap: wrap;
}

header, footer {
    padding: 20px 50px;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px
}

.menu-nav a {
    text-decoration: none;
    color: black;
}

.menu-nav a:hover {
    text-decoration: underline;
}

.menu-nav h1 {
    margin-left: 30px;
}

nav a {
    margin-right: 20px;
}

section {
    max-width: 1000px;
    margin: auto;
    padding: 40px 0;
}

section h2 {
    font-size: 42px;
}

section p {
    font-size: 20px;
    width: 50%;
    margin: auto;
}

section h2, h3, img{
    margin-bottom: 30px;
}

.contact {
    width: 50%;
    margin: auto;
    list-style-type: none;
}

.portfolio h1{
    width: 50%;
    margin: auto;
}

.portfolio p {
    width: 50%;
    margin: auto;
}

.portfolio img {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 35px;
}

.portfolio-item {
    margin-bottom: 20px;
}

h2, h3 {
    display: block;
    display: flex;
    justify-content: center;
}

.a-propos {
    display: flex;
    align-items: center;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

footer a {
    margin-right: 30px;
}