* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

header,
footer {
    padding: 20px 50px;
}

footer a {
    margin-right: 30px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px
}

a {
    color: #333;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}
    
.menu-nav a {
    text-decoration: none;
    color: black;
    font-style: normal;
}

.menu-nav a:hover {
    text-decoration: underline;
}

.menu-nav h1 {
    margin-left: 30px;
}

nav a {
    margin-right: 20px;
}

section {
    margin: auto;
    padding: 40px 0;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 24px;
}

section p {
    font-size: 20px;
    width: 50%;
    margin: auto;
}

section h1,
h2 {
    margin-bottom: 30px;
    text-align: center;
}

li {
    margin: auto;
    width: 50%;
    list-style-type: none;
    margin-bottom: 15px;
}

.portfolio {
    background-color: #333;
    color: white;
    margin-top: 80px;
}

.test {
    max-width: 1000px;
    margin: auto;
}

.portfolio h1 {
    margin-bottom: 60px;
    padding: 20px 40px;
}

.portfolio p {
    width: 50%;
    margin: auto;
}

.portfolio a {
    color: white;
}

.portfolio-item {
    margin-bottom: 20px;
}

h2,
h3 {
    display: block;
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
} 

.btn-grad {
    display: block;
    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
    width: 150px;
    margin: 10px;
    padding: 20px 46px;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 5px #eee;
    border-radius: 50px;
  }

  .btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }

.portfolio-item p {
    margin-bottom: 20px;
}

.a-propos {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.contenu-portfolio {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.contenu-portfolio > div {
    width: 50%;
}